<section id="agradecimentos" class="py-5">
    <div class="container">
        <h1>Agradecimentos</h1>
        <p>Gostaria de expressar minha profunda gratidão às pessoas que contribuíram significativamente para o
            desenvolvimento deste site. Sem a ajuda deles, isso não seria possível.</p>

        <h2>Pessoas que nos ajudaram a programar o site</h2>
        <ul>
            <li>Adelson - Projeto Ninho</li>
            <li>Adriana - Projeto Ninho</li>
            <li>Lívia Feitosa - Minha amada</li>
            <li>Lucas Vieira - Amigo</li>
            <li>Pedro - Projeto Ninho</li>
            <li>Professora Carolina - Projeto Ninho</li>
            <!-- Adicione mais nomes e funções, se necessário -->
        </ul>


        <h2>Empresas e Organizações de Apoio</h2>
        <ul>
            <li>Fundacentro</li>
            <li>SEBRAE</li>
            <!-- Adicione mais empresas e organizações, se necessário -->
        </ul>
    </div>
</section>