<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <div class="col-md-3 bg-light sidebar">
            <h2>Amigos</h2>
            <ul class="list-group">
                <li class="list-group-item">Amigo 1</li>
                <li class="list-group-item">Amigo 2</li>
                <li class="list-group-item">Amigo 3</li>

            </ul>

            <h2>Usuários</h2>
                <ul class="list-group">
                <li class="list-group-item">Amigo 1</li>
                <li class="list-group-item">Amigo 2</li>
                <li class="list-group-item">Amigo 3</li>
            </ul>
        </div>


        <!-- Conteúdo principal -->
        <div class="col-md-9">
            <!-- Chat -->
            <div class="card">
                <div class="card-body">
                    <h2>Chat</h2>
                    <div id="chat-box" style="height: 300px; overflow-y: scroll;">
                        <!-- Mensagens do chat serão exibidas aqui -->
                    </div>
                    <div class="input-group mt-3">
                        <input type="text" class="form-control" placeholder="Digite sua mensagem">
                        <button class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>