<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form method="post" action="/login">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de Usuário</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-2">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div>
                                                    <span>Não possui uma conta? <a href="/registro">registre-se</a></span>
                        </div>

                        <button type="submit" class="btn btn-primary mt-1 w-100 mt-2">Entrar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>